.ui-page {
  display:none;
  top:0;
  left:0;
  width:100%;
  min-height:100%;
  position:absolute;
  border:0;
  -webkit-transform:translateX(100%);
  transform:translateX(100%)
}

.ui-page.reverse {
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
}

.ui-page-active {
  display:inherit;
  -webkit-transform:translateX(0);
  transform:translateX(0);
}

.ui-page-active.reverse {
  -webkit-transform:translateX(0);
  transform:translateX(0);
}

.slide {
  -webkit-transition:-webkit-transform 350ms ease;
  transition:transform 350ms ease;
}

.slide.in {
  -webkit-transform:translateX(0);
  transform:translateX(0);
}

.slide.out {
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
}

.slide.out.reverse {
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
}

.slide.in.reverse {
  -webkit-transform:translateX(0);
  transform:translateX(0);
}